body{
    background-color:#aab4bd ;
    font-family: Arial, Helvetica, sans-serif;
}

    
   h3 {
	   text-align: center;
   }

.container{ 
    display: flex;
    padding: 70px;
	flex-direction: column;
	background-color:#cfb4a1;
	align-items: center;
	border: 2px solid black;
    
    
}



input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(73, 69, 69);
    box-sizing: border-box;
  }
  
 button {
	 width: auto;
	 border: 2px solid;
	 border-radius: 10px;
	 padding: 5px;
	 background-color:  #091747 ;
     color: beige;
	 
 }